* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.flex-col-center, body main section.about div.what_i_do div, body main section.about div.what_i_do, body main section.about div.about_me div, body main section.about div.about_me, body main section.home nav.navbar ul span.right-side, body main section.home nav.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0e0f0f;
}
body main {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
}
body main section .sub_heading {
  font-size: 16px;
  font-weight: 700;
  color: #b5a997;
}
body main section.home {
  min-height: 187vw;
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: #0e0f0f;
  background-image: url(../imgs/bg_main_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
}
body main section.home nav.navbar {
  width: 100%;
}
body main section.home nav.navbar ul {
  list-style: none;
  font-weight: 700;
  justify-content: start;
  align-items: end;
}
body main section.home nav.navbar ul span.left-side {
  align-self: start;
  position: absolute;
}
body main section.home nav.navbar ul span.right-side {
  align-items: end;
  row-gap: 0.5rem;
}
body main section.home img.title {
  width: 70%;
  margin-top: 75%;
  margin-right: 10%;
}
body main section.home img.logo {
  width: 32%;
  margin-top: 5%;
  align-self: end;
  margin-right: 2%;
}
body main section.home div.bottomContainer {
  display: flex;
  margin-top: 5%;
}
body main section.home div.bottomContainer img.be_icon {
  align-self: end;
  position: absolute;
  left: 16px;
}
body main section.about {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 3rem;
  background-color: #0e0f0f;
}
body main section.about div.about_me {
  width: 100%;
  min-height: 50vh;
  gap: 2rem;
}
body main section.about div.about_me div {
  gap: 0.7rem;
}
body main section.about div.about_me div span.text {
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -2px;
}
body main section.about div.about_me div .text1 {
  font-size: 38px !important;
  color: #262727;
}
body main section.about div.about_me div .text2 {
  color: #d35738;
}
body main section.about div.what_i_do div span {
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  color: #262727;
  white-space: nowrap;
}

@media (min-width: 768px) {
  body main section.home {
    min-height: 20vw;
    padding-inline: 5rem;
    padding-block: 2rem;
    background-image: url(../imgs/bg_main_ipad.png);
  }
  body main section.home img.title {
    width: 70%;
    margin-top: 42%;
    margin-right: 35%;
  }
  body main section.home img.logo {
    width: 25%;
    margin-top: 0;
    margin-right: 0;
  }
  body main section.home div.bottomContainer {
    margin-top: 0;
  }
  body main section.home div.bottomContainer img.be_icon {
    left: 80px;
  }
  body main section.about {
    padding-inline: 5rem;
  }
}
@media (min-width: 1280px) {
  body main section.home {
    min-height: 20vw;
    padding-inline: 5rem;
    padding-block: 2rem;
    background-image: url(../imgs/bg_main_desktop.png);
    font-size: 1.25rem;
  }
  body main section.home img.title {
    width: 50%;
    margin-top: 18%;
    margin-right: 45%;
  }
  body main section.home img.logo {
    width: 20%;
    margin-right: 2rem;
  }
  body main section.home div.bottomContainer {
    margin-top: 0;
  }
  body main section.home div.bottomContainer img.be_icon {
    left: 80px;
  }
}/*# sourceMappingURL=style.css.map */