// color set
$fontColor: #262727;
$reactColor: #d35738;
$H1Color: #b5a997;
$BGColor: #0e0f0f;
$white: #ffffff;

// break points
$sm: 425px;
$md: 768px;
$lg: 1280px;

* {
  margin: 0;
  padding: 0;
  // border: 1px solid green;
  box-sizing: border-box;
  color: $white;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $BGColor;

  main {
    max-width: 1280px;
    width: 100%;
    min-width: 320px;

    section {
      .sub_heading {
        font-size: 16px;
        font-weight: 700;
        color: $H1Color;
      }
    }

    section.home {
      background-image: url("../imgs/bg_main_mobile.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 773px;
      position: relative;
      margin-bottom:8rem;

      nav.navbar {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        line-height: 25px;
        padding: 1rem;
        text-align: right;

        ul {
          list-style: none;
        }
      }

      img {
        position: absolute;
      }
      img.title {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        content: url("../imgs/img_title_mobile.png");
      }

      img.logo {
        bottom: 15%;
        right: 5%;
        content: url("../imgs/logo_white_mobile.png");
      }

      img.be_icon {
        bottom: 8%;
        left: 3%;
        content: url("../imgs/img_behance.png");
      }

      img.nextPage {
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        content: url("../imgs/img_nextPage.png");
      }
    }

    section.about {
      width: 100%;
      padding-inline: 1rem;
      padding-block: 3rem;
      background-color: $BGColor;

      div.about_me {
        width: 100%;
        min-height: 50vh;
        @extend .flex-col-center;
        gap: 2rem;
        padding-bottom: 15rem;

        div {
          @extend .flex-col-center;
          gap: 0.7rem;

          span.text {
            font-size: 8vw;
            font-style: italic;
            font-weight: 900;
            letter-spacing: -2px;
            white-space: nowrap;
          }
          .text1 {
            // font-size: 38px !important;
            color: $fontColor;
          }
          .text2 {
            color: $reactColor;
          }
        }
      }
      div.what_i_do {
        @extend .flex-col-center;

        div {
          @extend .flex-col-center;

          span {
            // font-size: 60px;
            font-size: 13vw;
            font-weight: 900;
            font-style: italic;
            color: $fontColor;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (min-width: $md) {
  body {
    main {
      section.home {
        background-image: url(../imgs/bg_main_ipad.png);

        nav.navbar {
          padding: 3rem;
        }

        img.title {
          left: 7%;
          transform: none;
          content: url("../imgs/img_title_ipad.png");
        }
        img.logo {
          bottom: 8%;
          content: url("../imgs/logo_white_ipad.png");
        }
      }

      section.about {
        padding-inline: 5rem;

        div.about_me {
          padding-bottom: 12rem;
          .text {
            font-size: 55px !important;
          }
        }
        div.what_i_do {
          .text {
            font-size: 80px !important;
          }
        }
      }
    }
  }
}

@media (min-width: $lg) {
  body {
    main {
      section.home {
        background-image: url(../imgs/bg_main_desktop.png);

        img.title {
          top: 43%;
          content: url("../imgs/img_title_desktop.png");
        }
        img.logo {
          right: 8%;
          content: url("../imgs/logo_white_desktop.png");
        }
      }

      section.about {
        padding-bottom: 18rem;

        div.about_me {
          .text {
            font-size: 80px !important;
          }
        }
      }
    }
  }
}
