* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.flex-col-center, body main section.history, body main section.about div.what_i_do div, body main section.about div.what_i_do, body main section.about div.about_me div, body main section.about div.about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0e0f0f;
}
body main {
  max-width: 1280px;
  width: 100%;
  min-width: 320px;
}
body main section .sub_heading {
  font-size: 16px;
  font-weight: 700;
  color: #b5a997;
}
body main section.home {
  background-image: url("../imgs/bg_main_mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 773px;
  position: relative;
  margin-bottom: 8rem;
}
body main section.home nav.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 25px;
  padding: 1rem;
  text-align: right;
}
body main section.home nav.navbar ul {
  list-style: none;
}
body main section.home img {
  position: absolute;
}
body main section.home img.title {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  content: url("../imgs/img_title_mobile.png");
}
body main section.home img.logo {
  bottom: 15%;
  right: 5%;
  content: url("../imgs/logo_white_mobile.png");
}
body main section.home img.be_icon {
  bottom: 8%;
  left: 3%;
  content: url("../imgs/img_behance.png");
}
body main section.home img.nextPage {
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  content: url("../imgs/img_nextPage.png");
}
body main section.about {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 3rem;
  background-color: #0e0f0f;
}
body main section.about div.about_me {
  width: 100%;
  min-height: 50vh;
  gap: 2rem;
  padding-bottom: 15rem;
}
body main section.about div.about_me div {
  gap: 0.7rem;
}
body main section.about div.about_me div span.text {
  font-size: 8vw;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -2px;
  white-space: nowrap;
}
body main section.about div.about_me div .text1 {
  color: #262727;
}
body main section.about div.about_me div .text2 {
  color: #d35738;
}
body main section.about div.what_i_do div span {
  font-size: 13vw;
  font-weight: 900;
  font-style: italic;
  color: #262727;
  white-space: nowrap;
}
body main section.history .pic {
  background-image: url(../imgs/bg_history_mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
}
body main section.history .pic img {
  display: none;
}
body main section.history .pic h2 {
  font-size: 1rem;
  color: #b5a997;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
body main section.history .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.history .desc .item {
  width: 100%;
  border-bottom: 1px solid #b5a997;
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding: 1.5rem;
}
body main section.history .desc .item h4 {
  flex: 1 1 100px;
  color: #b5a997;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.history .desc .item i {
  display: none;
}
body main section.history .desc .item div.workContent {
  flex: 2 1 100px;
  line-height: 1.8rem;
  font-weight: bold;
}
body main section.history .desc .item div.workContent h3 {
  color: #b5a997;
  font-size: 1.25rem;
}
body main section.history .desc .item div.workContent ul {
  list-style: none;
}
body main section.history .desc .item div.workContent ul li {
  color: #444c4c;
}
body main section.history .desc .item div.workContent ul li span {
  color: #b5a997;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  body main section.home {
    background-image: url(../imgs/bg_main_ipad.png);
  }
  body main section.home nav.navbar {
    padding: 3rem;
  }
  body main section.home img.title {
    left: 7%;
    transform: none;
    content: url("../imgs/img_title_ipad.png");
  }
  body main section.home img.logo {
    bottom: 8%;
    content: url("../imgs/logo_white_ipad.png");
  }
  body main section.about {
    padding-inline: 5rem;
  }
  body main section.about div.about_me {
    padding-bottom: 12rem;
  }
  body main section.about div.about_me .text {
    font-size: 55px !important;
  }
  body main section.about div.what_i_do .text {
    font-size: 80px !important;
  }
  body main section.history {
    flex-direction: row;
    justify-content: center;
    padding-inline: 5rem;
    padding-block: 3rem;
    margin-top: 10%;
  }
  body main section.history .pic {
    flex: 1 1 50%;
    background-image: none;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  body main section.history .pic img {
    display: block;
    content: url(../imgs/img_history_ipad.png);
  }
  body main section.history .pic h2 {
    top: -3rem;
    left: 0;
  }
  body main section.history .desc {
    flex: 1 1 50%;
  }
  body main section.history .desc .item {
    border-bottom: none;
    padding-inline: 0;
    padding-block: 0 4rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  body main section.history .desc .item h4 {
    display: none;
  }
  body main section.history .desc .item i {
    flex: 1 1 5px;
    display: block;
    color: #444c4c;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0.75rem;
    position: relative;
  }
  body main section.history .desc .item i div.line {
    display: block;
    position: absolute;
    left: 50%;
    border-left: 1px solid #444c4c;
    height: 300px;
  }
  body main section.history .desc .item div.workContent {
    flex: 4 1 50px;
  }
}
@media (min-width: 1280px) {
  body main section.home {
    background-image: url(../imgs/bg_main_desktop.png);
  }
  body main section.home img.title {
    top: 43%;
    content: url("../imgs/img_title_desktop.png");
  }
  body main section.home img.logo {
    right: 8%;
    content: url("../imgs/logo_white_desktop.png");
  }
  body main section.about div.about_me .text {
    font-size: 80px !important;
  }
  body main section.history .pic img {
    content: url(../imgs/img_history_desktop.png);
  }
  body main section.history .desc .item {
    padding-block: 0 5rem;
  }
  body main section.history .desc .item i div.line {
    height: 340px;
  }
}/*# sourceMappingURL=style.css.map */