* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.flex-col-center, body main section.history, body main section.about div.what_i_do div, body main section.about div.what_i_do, body main section.about div.about_me div, body main section.about div.about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0f0f;
  flex-direction: column;
  min-width: 320px;
}
body header {
  max-width: 1280px;
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  z-index: 2;
}
body header nav.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 25px;
  padding: 1rem;
  text-align: right;
  width: 100%;
}
body header nav.navbar ul {
  list-style: none;
}
body header nav.navbar ul a {
  text-decoration: none;
}
body main {
  max-width: 1280px;
  width: 100%;
}
body main section .sub_heading {
  font-size: 16px;
  font-weight: 700;
  color: #b5a997;
}
body main section.home {
  background-image: linear-gradient(to bottom, #0e0f0f, transparent 10%), linear-gradient(to top, #0e0f0f, transparent 40%), url("/imgs/bg_main_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 773px;
  position: relative;
  margin-bottom: 8rem;
}
body main section.home img {
  position: absolute;
}
body main section.home img.title {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  content: url("/imgs/img_title_mobile.png");
}
body main section.home img.logo {
  bottom: 15%;
  right: 5%;
  content: url("/imgs/logo_white_mobile.png");
}
body main section.home img.be_icon {
  bottom: 8%;
  left: 3%;
  content: url("/imgs/img_behance.png");
}
body main section.home img.nextPage {
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  content: url("/imgs/img_nextPage.png");
}
body main section.about {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 3rem;
  background-color: #0e0f0f;
}
body main section.about div.about_me {
  width: 100%;
  min-height: 50vh;
  gap: 2rem;
  padding-bottom: 15rem;
}
body main section.about div.about_me div {
  gap: 0.7rem;
}
body main section.about div.about_me div span.text {
  font-size: 8vw;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -2px;
  white-space: nowrap;
}
body main section.about div.about_me div .text1 {
  color: #262727;
}
body main section.about div.about_me div .text2 {
  color: #d35738;
}
body main section.about div.what_i_do div span {
  font-size: 13vw;
  font-weight: 900;
  font-style: italic;
  color: #262727;
  white-space: nowrap;
}
body main section.history .pic {
  background-image: linear-gradient(to bottom, #0e0f0f, transparent 30%), linear-gradient(to top, #0e0f0f, transparent 60%), url(/imgs/bg_history_mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
}
body main section.history .pic img {
  display: none;
}
body main section.history .pic h2 {
  font-size: 1rem;
  color: #b5a997;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
body main section.history .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.history .desc .item, body main section.history .desc .no_line {
  width: 100%;
  border-bottom: 1px solid #b5a997;
  display: flex;
  column-gap: 1.5rem;
  padding: 1.5rem;
}
body main section.history .desc .item h4, body main section.history .desc .no_line h4 {
  flex: 1 1 100px;
  color: #b5a997;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.history .desc .item i, body main section.history .desc .no_line i {
  display: none;
}
body main section.history .desc .item div.workContent, body main section.history .desc .no_line div.workContent {
  flex: 2 1 100px;
  line-height: 1.8rem;
  font-weight: bold;
}
body main section.history .desc .item div.workContent h3, body main section.history .desc .no_line div.workContent h3 {
  color: #b5a997;
  font-size: 1.25rem;
}
body main section.history .desc .item div.workContent ul, body main section.history .desc .no_line div.workContent ul {
  list-style: none;
}
body main section.history .desc .item div.workContent ul li, body main section.history .desc .no_line div.workContent ul li {
  color: #444c4c;
}
body main section.history .desc .item div.workContent ul li span, body main section.history .desc .no_line div.workContent ul li span {
  color: #b5a997;
  font-size: 1.25rem;
}
body main section.history .desc .no_line {
  border-bottom: none;
}
body main section.video {
  padding-block: 2rem;
}
body main section.video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
body main section.beautiful {
  position: relative;
  padding-inline: 1rem;
  padding-block: 3rem;
}
body main section.beautiful h2 {
  font-weight: bold;
  font-size: 1rem;
  color: #b5a997;
  border-bottom: 2px solid #b5a997;
  padding-bottom: 0.5rem;
}
body main section.beautiful h3 {
  font-weight: 900;
  font-style: italic;
  color: #262727;
  font-size: 3rem;
  margin-block: 3rem 10rem;
}
body main section.beautiful p {
  position: absolute;
  left: 1rem;
  bottom: 20%;
  color: #b5a997;
  font-weight: bold;
  font-size: 1rem;
}
body main section.beautiful img.circles {
  content: url(/imgs/img_beautiful_mobile.png);
  position: absolute;
  right: 1rem;
  bottom: 20%;
}
body main section.beautiful .watchMore {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
body main section.beautiful .watchMore img.be_icon {
  content: url(/imgs/img_behance.png);
}
body main section.beautiful .watchMore a {
  color: #d35738;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #d35738;
}
body main section.personalPic {
  background-image: linear-gradient(to bottom, #0e0f0f, transparent 20%), linear-gradient(to top, #0e0f0f, transparent 60%), url(/imgs/bg_personalPic_mobile.png);
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body main section.connect {
  position: relative;
  padding-inline: 1rem;
  padding-block: 3rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main section.connect h2 {
  font-weight: bold;
  font-size: 1rem;
  color: #b5a997;
  border-bottom: 2px solid #b5a997;
  padding-bottom: 0.5rem;
}
body main section.connect .content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
body main section.connect .content .item a, body main section.connect .content section.history .desc .no_line a, body main section.history .desc section.connect .content .no_line a, body main section.connect .content .item p, body main section.connect .content section.history .desc .no_line p, body main section.history .desc section.connect .content .no_line p {
  color: #b5a997;
}
body main section.connect .content .item span, body main section.connect .content section.history .desc .no_line span, body main section.history .desc section.connect .content .no_line span {
  color: #b5a997;
  font-weight: bold;
}
body main section.connect img.logo_footer {
  content: url(/imgs/logo_footer.png);
  position: absolute;
  right: 1rem;
  bottom: 3rem;
}
body footer span {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-style: italic;
  font-size: 12px;
}
body footer span a {
  font-weight: 700;
  color: #d35738;
}

@media (min-width: 768px) {
  body main section.home {
    background-image: linear-gradient(to bottom, #0e0f0f, transparent 10%), linear-gradient(to top, #0e0f0f, transparent 40%), url(/imgs/bg_main_ipad.png);
  }
  body main section.home nav.navbar {
    padding: 3rem;
  }
  body main section.home img.title {
    left: 7%;
    transform: none;
    content: url("/imgs/img_title_ipad.png");
  }
  body main section.home img.logo {
    bottom: 8%;
    content: url("/imgs/logo_white_ipad.png");
  }
  body main section.about {
    padding-inline: 5rem;
  }
  body main section.about div.about_me {
    padding-bottom: 12rem;
  }
  body main section.about div.about_me .text {
    font-size: 55px !important;
  }
  body main section.about div.what_i_do .text {
    font-size: 80px !important;
  }
  body main section.video video {
    object-fit: contain;
    height: fit-content;
  }
  body main section.history {
    flex-direction: row;
    justify-content: center;
    padding-inline: 5rem;
    padding-block: 3rem;
    margin-top: 10%;
  }
  body main section.history .pic {
    flex: 1 1 50%;
    background-image: none;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  body main section.history .pic img {
    display: block;
    content: url(/imgs/img_history_ipad.png);
  }
  body main section.history .pic h2 {
    top: -3rem;
    left: 0;
  }
  body main section.history .desc {
    flex: 1 1 50%;
  }
  body main section.history .desc .item, body main section.history .desc .no_line {
    border-bottom: none;
    padding-inline: 0;
    padding-block: 0 4rem;
    column-gap: 0;
  }
  body main section.history .desc .item h4, body main section.history .desc .no_line h4 {
    display: none;
  }
  body main section.history .desc .item i, body main section.history .desc .no_line i {
    flex: 1 1 5px;
    display: block;
    color: #444c4c;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0.75rem;
    position: relative;
  }
  body main section.history .desc .item i div.line, body main section.history .desc .no_line i div.line {
    display: block;
    position: absolute;
    left: 50%;
    border-left: 1px solid #444c4c;
    height: 300px;
  }
  body main section.history .desc .item div.workContent, body main section.history .desc .no_line div.workContent {
    flex: 4 1 50px;
  }
  body main section.beautiful {
    padding-inline: 5rem;
    padding-block: 3rem 5rem;
  }
  body main section.beautiful h3 {
    font-size: 4.5rem;
    margin-block: 3rem 15rem;
  }
  body main section.beautiful p {
    left: 5rem;
    bottom: 25%;
  }
  body main section.beautiful img.circles {
    content: url(/imgs/img_beautiful_ipad.png);
    right: 5rem;
    bottom: 10%;
  }
  body main section.personalPic {
    background-image: linear-gradient(to bottom, #0e0f0f, transparent 30%), linear-gradient(to top, #0e0f0f, transparent 30%), url(/imgs/bg_personalPic_ipad.png);
    height: 60vh;
  }
  body main section.connect {
    min-height: 350px;
    padding: 5rem;
  }
  body main section.connect .content {
    flex-direction: row;
    column-gap: 2rem;
  }
  body main section.connect img.logo_footer {
    right: 5rem;
    bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  body main section.home {
    background-image: linear-gradient(to left, rgba(14, 15, 15, 0.3490196078), transparent 30%), linear-gradient(to right, rgba(14, 15, 15, 0.3490196078), transparent 30%), linear-gradient(to bottom, #0e0f0f, transparent 10%), linear-gradient(to top, #0e0f0f, transparent 40%), url(/imgs/bg_main_desktop.png);
  }
  body main section.home img.title {
    top: 43%;
    content: url("/imgs/img_title_desktop.png");
  }
  body main section.home img.logo {
    right: 8%;
    content: url("/imgs/logo_white_desktop.png");
  }
  body main section.about div.about_me .text {
    font-size: 80px !important;
  }
  body main section.history .pic img {
    content: url(/imgs/img_history_desktop.png);
  }
  body main section.history .desc .item, body main section.history .desc .no_line {
    padding-block: 0 5rem;
  }
  body main section.history .desc .item i div.line, body main section.history .desc .no_line i div.line {
    height: 340px;
  }
  body main section.beautiful {
    padding-block: 3rem 10rem;
  }
  body main section.beautiful p {
    bottom: 40%;
  }
  body main section.beautiful img.circles {
    content: url(/imgs/img_beautiful_desktop.png);
    right: 15%;
    bottom: 15%;
  }
  body main section.personalPic {
    background-image: linear-gradient(to right, #0e0f0f, transparent 40%), linear-gradient(to left, #0e0f0f, transparent 40%), linear-gradient(to bottom, #0e0f0f, transparent 30%), linear-gradient(to top, #0e0f0f, transparent 30%), url(/imgs/bg_personalPic_desktop.png);
    height: 100vh;
  }
  body main section.connect {
    min-height: 450px;
    padding-inline: 5rem;
    padding-block: 7rem;
  }
  body main section.connect .content {
    column-gap: 6rem;
  }
}/*# sourceMappingURL=style.css.map */